<% provide :title, "Wiadomość do #{@user.name}" %>
<h3 class="center">
  Wiadomość do <%= "#{@user.name}" %>
</h3>

<%= simple_form_for current_user.messages_sent.new(to_user_id: @user.id) do |f| %>
  <%= f.hidden_field :to_user_id %>
  <%= f.input :body, as: :text, label: false, 
             input_html: { class:"span12" } %>
  <%= f.button :submit, "Stwórz wiadomość",
     class: 'btn-primary' %>
<% end %>