<%= form_for(current_user.relationships.new(followed_id: @user.id), remote: true) do |f| %>
  <div><%= f.hidden_field :followed_id %></div>
  <%= f.submit "Obserwuj", class: "btn btn-primary", 
      id:'follow' %>
<% end %>