<% if user.thread_exists? current_user %>
  <%= link_to thread_path(user.thread_with(current_user)) do %>
    <button id="msg" class="btn btn-success btn-small">
      <i class="icon-white icon-envelope"></i>
      Napisz wiadomość
    </button>
  <% end %> 
  <% else %>
  <%= link_to new_msg_path(user.name) do %>
    <button id="msg" class="btn btn-success btn-small">
      <i class="icon-white icon-envelope"></i>
      Napisz wiadomość
    </button>
  <% end %> 
<% end %>
