
<% if t.to_user == current_user %>
  <%= link_to user_path(t.from_user.name) do %>
    <%= image_tag t.from_user.avatar.url(:small), 
    class:"mpimage" %>
    <div style="display:inline-block">
      <span class="username">
        <%= t.from_user.name %>
        <% if (t.receiver_new > 0 && 
        t.latest_message.to_user == current_user) %>
          <%= "(#{t.receiver_new})" %>
        <% end %>
      </span>
    </div>
  <% end %>
<% else %>
  <%= link_to user_path(t.to_user.name) do %>
    <%= image_tag t.to_user.avatar.url(:small), 
    class:"mpimage" %>
    <div style="display:inline-block">
      <span class="username">
        <%= t.to_user.name %>
        <% if (t.sender_new > 0 && 
        t.latest_message.to_user == current_user) %>
          <%= "(#{t.sender_new})" %>
        <% end %>
      </span>
    </div>
  <% end %>
<% end %>
Ostatnia wiadomość( autor:<%= render 'author', t:t %>)
<%= link_to thread_path(t.id) do %>
  <% if (t.receiver_new > 0 && 
    t.latest_message.to_user == current_user) || 
    (t.sender_new > 0 && 
    t.latest_message.to_user == current_user) %>
    <span class="content" style="font-weight: bold">
      <%= t.latest_message.body %>
    </span>
  <% else %>
    <span class="content">
      <%= t.latest_message.body %>
    </span>
  <% end %>
<% end %>
<span class="timestamp">
  <%= time_ago_in_words(t.latest_message.created_at) %> temu
</span>
