<%= form_for(current_user.relationships.find_by(followed_id: @user), html: { method: :delete }, remote: true) do |f| %>
  <%= f.submit "Przestań obserwować", class: "btn btn-danger", 
      id: 'unfollow' %>
<% end %>