<% provide :title, "Edytuj profil" %>
<%= simple_form_for(@user, html: { class: 'form-horizontal form', multipart: true }) do |f| %>
  <%= f.input :name, label:"Nick" %>
  <%= f.input :email, placeholder:"example@domain.com" %>
  <%= f.input :realname, label:"Prawdziwe imię i nazwisko" %>
  <%= f.input :avatar, as: :file %>
  <%= f.input :current_password, label:"Aktualne hasło",
  required:true %>
  <%= f.input :password, label:"Nowe hasło", 
              hint:"Minimum 6 znaków", required: false %>
  <%= f.input :password_confirmation, 
          label:"Potwierdzenie", required: false %>
  <%= f.button :submit, "Zatwierdź",
   class: 'btn-primary' %>
<% end %>
<h3>
  Usuń konto
</h3>
<%= form_for(@user, html: { class: 'form-horizontal form', multipart: true }, method: :delete)  do |f| %>
  <%= f.label :password, "*Hasło:" %>
  <%= f.password_field :password %>
  <br>
  <%= f.submit "Usuń konto", class: "btn btn-danger", id:"takibutton" %>
<% end %>