<% provide :title, "#{@user.name} | Ulubione" %>
<h3 class="center">Ulubione:</h3>
<ul class="microposts">
<% @microposts.each do |m| %>
  <%= tag("li", data: {mp_id: m.id, mp_from_id: 
      m.recrumbed_from_id}) %>
    <%= render "rend/micropost", micropost:m %>
  </li>
<% end %>
</ul>
<div class="center"><%= will_paginate @microposts %></div>