<% provide :title, "Wyszukiwanie użytkownika #{params[:search]}" %>
<% if @users.any? %>
  <ul class='microposts'>
    <% @users.each do |u| %>
    <li>
      <%= link_to user_path(u.name) do %>
      <%= image_tag u.avatar.url(:thumb), 
      class:"mpimage" %>
      <div style="display:inline-block">
        <h3 class="username"><%= u.name %><h3>
      </div>
      <% end %>
    </li>
    <% end %>
  </ul>
  <div class="center"><%= will_paginate @users %></div>
<% else %>
<h2>
  Nie znaleziony użytkownika
</h2>
<% end %>
