<% provide :title, "Interakcje" %>
<h3 class="center">Interakcje:</h3>
<ul class="microposts">
<% @mentions.each do |m| %>
  <% if m.seen == false %>
    <li class="mentioned">
      <%= render "rend/micropost", micropost:m.micropost %>
    </li>
  <% else %>
    <li>
      <%= render "rend/micropost", micropost:m.micropost %>
    </li>
    <% end %>
<% end %>
</ul>
<div class="center"><%= will_paginate @mentions %></div>
<% current_user.reset_mentions_count %>