<%= link_to user_path(micropost.user.name) do %>
  <%= image_tag micropost.user.avatar.url(:small), 
      class:"mpimage" %>
  <div style="display:inline-block">
    <span class="username"><%= micropost.user.name %></span>
  </div>
<% end %>
<span class="content">
  <%= mcontent micropost %>
</span>
<span class="timestamp">
  <%= time_ago_in_words(micropost.created_at) %> temu
</span>