<% provide :title, "Zarejestruj" %>
<%= simple_form_for(@user, html: { class: 'form-horizontal form' })  do |f| %>
  <%= f.input :name, label:"Nick (bez spacji)" %>
  <%= f.input :email, placeholder:"example@domain.com" %>
  <%= f.input :password, label:"Hasło", 
              hint:"Minimum 6 znaków" %>
  <%= f.input :password_confirmation, 
          label:"Potwierdzenie" %>
  <%= f.button :submit, "Zatwierdź",
   class: 'btn-primary' %>
<% end %>