<% provide :title, @user.name %>
<h1 class="center"><%= @user.name %></h1>
<% if @user.realname.present? %>
  <h5 class="center"><%= @user.realname %></h5>
<% end %>

<%= image_tag @user.avatar.url(:medium), style:"float:right" %>
<% if current_user %>
  <% if @user.following? current_user %>
    <%= render 'message', user: @user %>
  <% end %>
  <br>
  <% unless current_user == @user %>
    <div id="follow_form">
    <% if current_user.following?(@user) %>
      <%= render 'unfollow' %>
    <% else %>
      <%= render 'follow' %>
    <% end %>
    </div>
  <% end %>
<% end %>

<strong>Obserwuje:</strong>
<%= link_to following_user_path @user.name do %>
  <%= @user.followed_users.count %>
<% end %>
<br>
<strong>Obserwujący:</strong>

<%= link_to followers_user_path @user.name do %>
  <span id="followers">
    <%= @user.followers.count %>
  </span>
<% end %>

<br>
<strong>Liczba okruchów:</strong>
<%= @user.microposts.count %>
<br>
<h3 class="center" style="margin-top:150px;">Okruchy:</h3>
<ul class="microposts">
<% @microposts.each do |m| %>
  <%= tag("li", data: {mp_id: m.id, mp_from_id: 
      m.recrumbed_from_id}) %>
    <%= render "rend/micropost", micropost:m %>
  </li>
<% end %>
</ul>
<div class="center"><%= will_paginate @microposts %></div>