<% provide(:title, @title) %>
<h3 class="center"><%= @title %></h3>
<% if @users.any? %>
  <ul class="users">
    <% @users.each do |p| %>
      <li>
        <%= link_to user_path(p) do %>
          <%= p.name %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <div class="center"> 
    <%= will_paginate @users %>
  </div>
<% end %>