<% provide :title, "Lista wiadomości" %>
<% if @threads.empty? %>
  <h3 class="center">Nie masz żadnych wiadomości</h3>
<% end %>
<ul class="microposts">
  <% @threads.each do |t| %>
    <li>
      <%= render "thread", t:t %>
    </li>
  <% end %>
</ul>