var a = <%= @micropost_id %>;
var mp = $('li[data-mp-id='+a+']');
$(mp).find("#favourite_form").html("<%= escape_javascript(render(partial: 'rend/unfavourite_js', locals: {micropost: @micropost})) %>");
if($(mp).find(".favourite").html() === undefined )
{
  $(mp).find(".timestamp").after("<span class='favourite'> &#9733;Ulubiony </span>");
}