var a = <%= @micropost_id %>;
var mp = $('li[data-mp-id='+a+']');
$(mp).find("#favourite_form").html("<%= escape_javascript(render(partial: 'rend/favourite', locals: {micropost: @micropost})) %>");
$(mp).find(".favourite").remove();
