<div class="row-fluid">
  <div class="span5">
    Komunikuj się ze swoimi znajomymi za pomocą Wróbla o/
  </div>
  <div class="span4 form">
    <h1>Zarejestruj się!</h1>
    <%= simple_form_for(user, :html => { :class => 'form-vertical' })  do |f| %>
      <%= f.input :name, label:"Nick (bez spacji)" %>
      <%= f.input :email, 
      placeholder:"example@domain.com" %>
      <%= f.input :realname, 
          label:"Imię i nazwisko" %>
      <%= f.input :password, label:"Hasło", 
      hint:"Minimum 6 znaków" %>
      <%= f.input :password_confirmation, 
      label:"Potwierdzenie" %>
      <%= f.button :submit, "Zatwierdź",
      :class => 'btn-primary' %>
    <% end %>
  </div>
</div>