<div class="center">
  <%= simple_form_for @user.microposts.new do |f| %>
    <%= f.input :content, as: :text, label: false, 
             input_html: {  class:"span12", 
              id:"newmp" } %>
    <%= f.button :submit, "Stwórz okruch",
     class: 'btn-primary', id:"newmpbut" %>
  <input type="text" id="licznik" value="200" readonly><br>
  <% end %>

</div>
<% if microposts.any? %>
  <h2 class="center">Okruchy</h2>
  <ul class="microposts">
  <% microposts.each do |m| %>
    <%= tag("li", data: {mp_id: m.id, mp_from_id: 
      m.recrumbed_from_id}) %>
      <%= render "rend/micropost", micropost:m %>
    </li>
  <% end %>
  </ul>
  <div class="center"><%= will_paginate microposts %></div> 
<% end %>
