<% provide :title, "Strona główna" %>
<% unless current_user %>
  <%= render "home_form", user:@user %>
<% else %>
  <%= render "home_feed", user:@user,
                          microposts: @microposts %>
<% end %>