<% unless @tag.nil? %>
  <% provide :title, @tag.name %>
  <h3 class="center"><%= "#{@tag.name}" %></h3>
  <ul class="microposts">
  <% @microposts.each do |m| %>
    <li><%= render "rend/micropost", micropost:m %></li>
  <% end %>
  </ul>
  <div class="center"><%= will_paginate @microposts %></div>
<% else %>
  <% provide :title, "##{params[:name]}" %>
  Tag nie istnieje
<% end %>