<%= form_for current_user.favourites.new(micropost_id:
micropost.recrumbed_id || micropost.id), remote: true do |f| %>
  <%= f.hidden_field :micropost_id %>
  <%= button_tag(type: "submit", 
      class:"btn btn-warning btn-small favouriteb") do %>
    <i class:"icon-heart"></i>
    Dodaj do ulubionych
  <% end %>
<% end %>