<%= form_for current_user.microposts.
new(recrumbed_id: micropost.recrumbed_id || micropost.id, recrumbed_from_id: micropost.id),html:{id:"recrumb"}, remote:true do |f| %>
  <%= f.hidden_field :recrumbed_id %>
  <%= f.hidden_field :recrumbed_from_id %>
  <%= button_tag(type: 'submit', 
  class:'btn btn-info btn-small recrumb') do %>
    <i class='icon-refresh'></i>
    Przekaż ziarno
  <% end %>
<% end %>