<%= simple_form_for micropost.replies.new, 
    html: { id: 'micropost_reply' } do |f| %>
  <%= f.input :content, as: :text, label: false, 
         input_html: { value: "@#{micropost.user.name} ", class:"span12 repfrm" } %>
  <%= f.hidden_field :thread_id, value: micropost.id %>
  <%= f.button :submit, "Odpowiedz", 
                        class: "btn-primary repbtn" %>
<% end %>