<h3>Zaloguj się</h3>
<%= simple_form_for :session, url: sessions_path, 
    html: { class: 'form-vertical' } do |f| %>
  <%= f.input :email, placeholder: 'e-mail',
  label: false %>
  <%= f.input :password, placeholder: 'hasło',
              label: false %>
  <%= f.input :remember_me, as: :boolean, 
    inline_label: "Zapamiętaj mnie", label: false %>
    <%= f.button :submit, "Zaloguj się",
   class: 'btn-primary' %>
<% end %>