<%= link_to favourite_path(current_user.favourite(micropost)), method: :delete, remote: true do %>
<button class='btn btn-warning btn-small unfavourite'>
  <i class:"icon-heart"></i>
  Dodano do ulubionych
</button>
<% end %>