<%= link_to favourite_path(current_user.favourite(micropost)), method: :delete, remote: true do %>
<button class='btn btn-danger btn-small unfavourite'>
  <i class:"icon-heart"></i>
  Usuń ulubionych
</button>
<% end %>