<%= link_to micropost_path(micropost.recrumbed?(current_user).first), method: :delete, remote:true do %>
  <button class='btn btn-info btn-small unrecrumb'>
  <i class='icon-refresh'></i> Przekazałeś ziarno
</button>
<% end %>