Zalogowany jako <%= link_to user_path(current_name) do%>
<strong><%= current_name %></strong>
<% end %><br>
<ul class="navbar unstyled">
  <li>
    <%= link_to mentions_path do %>
      <%= "Interakcje" %>
      <%= "#{current_user.mentions_count > 0 ? 
             %'(#{current_user.mentions_count})' : ''}" %>
    <% end %>
  </li>
  <li><%= link_to threads_path  do %>
    <%= "Wiadomości" %>
    <%= "#{current_user.newmsgcount > 0 ? 
             %'(#{current_user.newmsgcount})' : ''}" %>
  <% end %>
  </li>
  <li>
    <%= link_to "Ulubione", 
                favourites_user_path(current_name) %>
  </li>
  <li><%= link_to "Edytuj profil", 
          edit_user_path(current_name) %></li>
  <li><%= link_to "Wyloguj się", logout_path %></li>
</ul>