<% if t.to_user == current_user %>
  <%= link_to user_path(t.from_user.name) do %>
  <%= image_tag t.from_user.avatar.url(:small), 
  class:"mpimager" %>
  <div style="float:right">
  <span class="username" style="float:right">
    <%= t.from_user.name %>
  </span>
<% end %>
  </div>
  <br>
  <div class="mescontent"style="float:right">
    <%= t.body %>
  </div>
  <br>
  <span class="timestampr">
    <%= time_ago_in_words(t.created_at) %>&nbsp;temu
  </span>



<% else %>
  <%= link_to user_path(t.from_user.name) do %>
  <%= image_tag t.from_user.avatar.url(:small), 
  class:"mpimage" %>
  <div style="display:inline-block">
    <span class="username"><%= t.from_user.name %></span>
 <% end %>
    <br>
    </div>
    <br>
  <div class="mescontent" >
    <%= t.body %>
  </div>

  <span class="timestamp">
    <%= time_ago_in_words(t.created_at) %>&nbsp;temu
  </span>

<% end %>