<% provide :title, "Rozmowa z #{@partner.name}" %>
<%= simple_form_for @thread.replies.new(to_user_id: @partner.id) do |f| %>
  <%= f.hidden_field :to_user_id %>
  <%= f.hidden_field :thread_id %>
  <%= f.input :body, as: :text, label: false, 
             input_html: { class:"span12" } %>
  <%= f.button :submit, "Stwórz wiadomość",
     class: 'btn-primary' %>
<% end %>
<ul class="microposts">
  <% @messages.each do |t| %>
    <% if t.from_user == current_user %>
      <li style="float:left; clear:both">
        <%= render "message", t:t %>
      </li>
    <% else %>
      <li style="float:right; clear:both">
        <%= render "message", t:t %>
      </li>
    <% end %>
  <% end %>
</ul>