
<%= link_to user_path(micropost.user.name) do %>
  <%= image_tag micropost.user.avatar.url(:small), 
      class:"mpimage" %>
  <div style="display:inline-block">
    <span class="username"><%= micropost.user.name %></span>
  </div>
<% end %>
<% if micropost.user == current_user && !micropost.recrumbed_id %>
  <%= render 'rend/delete_micropost', micropost: micropost %>
<% end %>
<span class="content">
  <%= mcontent micropost %>
</span>
<span class="timestamp">
  <%= time_ago_in_words(micropost.created_at) %> temu
</span>
<% if current_user && current_user.favourite?(micropost) %>
  <span class="favourite">
    &#9733;Ulubiony
  </span>
<% end %>
<% if micropost.recrumbed_by_id %>
  Ziarno przekazane przez: 
  <%= link_to user_path(User.find(micropost.recrumbed_by_id).name) do %>
    <%= User.find(micropost.recrumbed_by_id).name %>
  <% end %>
<% end %>
<div id="reaction" class="row-fluid">
<% if current_user && micropost.user != current_user %>
  <div id="recrumb">
  <% unless micropost.recrumbed?(current_user).first %>
    <%= render 'rend/recrumb_form', micropost: micropost %>
  <% else %>
      <%= render 'rend/unrecrumb_form', micropost: micropost %>
  <% end %>
  </div>
  <div id="favourite_form">
  <% if current_user.favourite?(micropost) %>
    <%= render 'rend/unfavourite', micropost: micropost %>
  <% else %>
    <%= render 'rend/favourite', micropost: micropost %>
  <% end %>
  </div>
  <div class="reply_button">
    <button class="btn btn-small btn-primary reply">
      <i class="icon-share"></i>
      Odpowiedz
    </button>
  </div>
  <div id="reply_form" class="center hiddenmy">
    <%= render 'rend/reply_form', micropost: micropost %>
  </div>
<% end %>
</div>