var a = <%= @mp.recrumbed_from_id %>;
var mp = $('li[data-mp-id='+a+']');
$(mp).find('#recrumb').html("<%= escape_javascript(render(partial: 'rend/recrumb_form', locals: {micropost: @mp.recrumbed_from})) %>");