<div id="micropost" class="span12">
  <%= render 'micropost', micropost: @mp %>
</div>

<div class="row-fluid">
  <% if @mp.favourite_by.count > 0 %>
    <h4>
      Ulubiony: <%= @mp.favourite_by.count %>
    </h4>
  <% end %>

  <% if @mp.recrumbs.count > 0 %>
    <h4>
      Przekazano: <%= @mp.recrumbs.count %>
    </h4>
  <% end %>

  <% if @mp.replies.count > 0 %>
    <h4>
      Odpowiedzi: <%= @mp.replies.count %>
    </h4>
  <% end %>
</div>
