// Place all the styles related to the microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#micropost{
  border: 1px solid #e8e8e8;
  padding: 10px 10px;
}