.center{
  text-align: center;
}

.hint{
  display: block;
  font-size: 0.8em;
  color: gray;
}

.c{
  margin: 0 auto;
}

.form{
  padding-left: 10px;
}

.microposts {
  list-style: none;
  margin: 10px 0 20px 0;
}

.microposts li {
  padding: 10px 0;
  border-top: 1px solid #e8e8e8;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
}

.content {
  /*word-wrap:break-word;*/
  overflow: auto;
  display: block;
  /*word-break: break-all*/
}

.mescontent{
  word-wrap: break-word;
  display: inline-block;
  max-width: 90%;
  vertical-align: super;
}

.timestamp {
  color: gray;
  display: block;
}

.timestampr{
  color: gray;
  display: block;
  float: right;
}

.mpimage {
  float: left;
  margin-right: 15px;
}

.mpimager{
  float: right;
  margin-left: 15px;
  display: inline;
}

.username{
  font-weight: bold;
  color: black;
}

.username:hover{
  color:#0088CC;
  text-decoration: underline;
}

.mentioned{
  background-color: #CEECF5;  
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#follow, #msg, #unfollow{
  width: 160px;
}

#recrumb{
  margin-top: 2px;
  margin-bottom: 0;
  display: inline-block;
}

#reaction{
  display: none;
}

ul.microposts li:hover #reaction{
  display: block;
}

.recrumb, .unrecrumb{
  width: 160px;
}

#new_favourite{
  display: inline-block;
  margin-bottom: 0;
}

.favourite{
  background-color: #D0D0D0;
  color: yellow; 
  border-radius: 2px;
  padding: 2px
}

.unfavourite, .favouriteb, .reply{
  width: 160px;
}

#favourite_form{
  display: inline-block;
}

.reply_button{
  display: inline-block;
}

.hiddenmy{
  display: none;
}

#reply_form{
  margin-top: 1px;
}

#micropost_reply{
  margin-bottom: 0;
}

#sform{
  margin: 0 0;
}

#licznik{
  background-color: #B6B6B4;
  color: #2C3539;
  float: right;
  max-width: 30px;
}

#footer_list{
  list-style:none;
  margin: 0 auto;
}

#footer_list li{
  display: inline;
  margin: 0 3px;
}

#delete{
  display: none;
}

ul.microposts li:hover #delete{
  margin: 0 0;
  float: right;
  display: inline;
  color: gray;
  text-decoration: none;
}

ul.microposts li:hover #delete:hover{
  color: red;
}

#takibutton{
  margin: 1% 0;
}

