// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hint{
  display: block;
  font-size: 0.8em;
  color:grey;
}
.users{
  list-style: none;
}
.users li{
  padding:3px 0;
}